# Core Config Variables
<%- for key, value in core_secrets.iteritems() -%>
{{ key }}: {% raw %}value{% endraw %}
<%- endfor -%>

# Instance Config Variables
<%- for key, value in secrets.iteritems() -%>
{{ key }}: {% raw %}value{% endraw %}
<%- endfor -%>