# API Keys
darksky_key: '{{ darksky_key }}'
open_weather_map_key: '{{  open_weather_map_key }}'
google_key: '{{ google_key }}'
google_places_key: '{{ google_places_key }}'

vapid_pub_key: '{{ vapid_pub_key }}'
vapid_prv_key: '{{ vapid_prv_key }}'
vapid_email: '{{ vapid_email }}'

# OAuth Credentials
google_oauth_client_id: '{{ google_oauth_client_id }}'
google_oauth_client_secret: '{{ google_oauth_client_secret }}'

spotify_client_id: '{{ spotify_client_id }}'
spotify_client_secret: '{{ spotify_client_secret }}'

automatic_client_id: '{{ automatic_client_id }}'
automatic_secret: '{{ automatic_secret }}'

# Credentials

isy_username: '{{ isy_username }}'
isy_password: '{{ isy_password }}'

unifi_username: '{{ unifi_username }}'
unifi_password: '{{ unifi_password }}'

sleepiq_username: '{{ sleepiq_username }}'
sleepiq_password: '{{ sleepiq_password }}'

neato_username: '{{ neato_username }}'
neato_password: '{{ neato_password }}'

icloud_persia_username: '{{ icloud_persia_username }}'
icloud_persia_password: '{{ icloud_persia_password }}'

icloud_alan_username: '{{ icloud_alan_username }}'
icloud_alan_password: '{{ icloud_alan_password }}'

icloud_teagan_username: '{{ icloud_teagan_username }}'
icloud_teagan_password: '{{ icloud_teagan_password }}'

google_eddie_username: '{{ google_eddie_username }}'
google_eddie_password: '{{ google_eddie_password }}'

nvr_api_key: '{{ nvr_api_ key }}'
uvc_password: '{{ uvc_password }}'

ups_username: '{{ ups_username  }}'
ups_password: '{{ ups_password }}'

usps_username: '{{ usps_username }}'
usps_password: '{{ usps_password }}'

fedex_username: '{{ fedex_username }}'
fedex_password: '{{ fedex_password }}'

myq_username: '{{ myq_username }}'
myq_password: '{{ myq_password }}'

# Hosts

isy_host: '{{ isy_host }}'
unifi_host: '{{ unifi_host }}'
nvr_host: '{{ nvr_host }}'
shield_host: '{{ shield_host }}'
postgres_db_url: '{{ postgres_db_url }}'
postgres_writer_db_url: '{{ postgres_writer_db_url }}'

# URIs
google_places_bhg: '{{ google_places_bhg }}'

# Locations

home_timezone: '{{ home_timezone }}'
home_latitude: '{{ home_latitude }}'
home_longitude: '{{ home_longitude }}'
home_elevation: '{{ home_elevation }}'
home_address: '{{ home_address }}''

bhg_latitude: '{{ bhg_latitude }}'
bhg_longitude: '{{ bhg_longitude }}'

dolly_joe_house_latitude: '{{ dolly_joe_house_latitude }}'
dolly_joe_house_longitude: '{{ dolly_joe_house_longitude }}'

persia_school_latitude: '{{ persia_school_latitude }}'
persia_school_longitude: '{{ persia_school_longitude }}'

james_val_house_latitude: '{{ james_val_house_latitude }}'
james_val_house_longitude: '{{ james_val_house_longitude }}'

ben_house_latitude: '{{ ben_house_latitude }}'
ben_house_longitude: '{{ ben_house_longitude }}'

flygreen_latitude: '{{ flygreen_latitude }}'
flygreen_longitude: '{{ flygreen_longitude }}'

keith_becky_house_latitude: '{{ keith_becky_house_latitude }}'
keith_becky_house_longitude: '{{ keith_becky_house_longitude }}'

comcast_latitude: '{{ comcast_latitude }}'
comcast_longitude: '{{ comcast_longitude }}'

ravenna_latitude: '{{ ravenna_latitude }}'
ravenna_longitude: '{{ ravenna_longitude }}'

